/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-block-start: 100px;
  padding-block-end: 100px;
  color: var(--accent-color);
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  background-image: var(--bg-image);
  background-repeat: repeat;
  background-size: 4px;
  background-attachment: fixed;
  font-variation-settings: 'wght' var(--card-text-font-weight);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 24px;
  margin: auto;
  border: 2px solid currentColor;
  padding-block-end: 25px;
  text-align: center;
  background-color: var(--bg-color);
  min-block-size: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem);
  inline-size: clamp(375px, 100vw, 700px);
}

.header__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header__title-logo {
  font-family: var(--accent-font), sans-serif;
  font-weight: inherit;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title-text {
  font-family: var(--accent-font), sans-serif;
  font-weight: inherit;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.theme-menu {
  margin: 0 auto;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  text-align: left;
  max-inline-size: 75px;
  max-block-size: 74px;
}

.theme-menu__item {
  position: relative;
}

.theme-menu__button {
  position: relative;
  margin-inline-start: 5px;
  text-transform: uppercase;
}

.theme-menu__button[disabled] {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.theme-menu__button:hover,
.theme-menu__button:focus-visible {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus {
  outline: 0;
}

.theme-menu__button::after {
  content: '';
  padding-block-end: 1.5px;
}

.theme-menu__button:focus-visible::after {
  content: '';
  position: absolute;
  width: 100%;
  background-color: currentColor;
  transition: scale 0.3s ease;
  transform-origin: 0% 100%;
  animation: underlining 0.3s ease;
  inset-inline-start: 0;
  inset-block-end: -1px;
}

@keyframes underlining {

  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.theme-menu__item:has(.theme-menu__button:disabled)::before {
  content: '▶';
  position: absolute;
  opacity: 0.6;
  inset-inline-end: 74.5px;
  animation: fluctuation 0.5s infinite ease-in-out alternate;
}

@keyframes fluctuation {

  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(4px);
  }
}

.button {
  border: none;
  padding-inline: 0;
  padding-block: 0;
  background-color: transparent;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work-preparations {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border: 2px solid currentColor;
  background-color: var(--bg-color);
  inline-size: clamp(375px, 100vw, 700px);
}

.work-preparations__title {
  width: 100%;
  padding-inline: 10px;
  padding-block: 6px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21.78px;
  font-variation-settings: 'wght' var(--card-title-font-weight);
}

.work-preparations__image {
  width: 100%;
  object-fit: cover;
}

.work-preparations__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-inline: 25px;
  padding-block: 22px;
}

.work-preparations__list {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.work-preparations__text-item {
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: 'wght' var(--card-text-font-weight);
}

.work-preparations__actions {
  display: flex;
  justify-content: end;
  gap: 12px;
}

.work-preparations__actions-item {
  display: flex;
  align-items: end;
}

.work-preparations__actions-item-like {
  display: flex;
  justify-content: center;
  border: 2px solid currentColor;
  min-inline-size: 130px;
  min-block-size: 38px;
}

.button__text {
  align-self: center;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 12.6px;
}

.save {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-inline: auto;
  margin-block-start: 52px;
  border: 2px solid currentColor;
  padding-inline-start: 19px;
  padding-inline-end: 21px;
  padding-block: 15.5px;
  line-height: 12.6px;
  background-color: var(--bg-color);
  min-inline-size: clamp(306px, 81vw, 335px);
}

@media (width < 376px) {

  .save {
    display: block;
  }

  .save-icon {
    display: block;
    width: 28px;
    height: 100%;
    margin: 0 auto;
    padding-block-end: 8px;
  }
}
