/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: 'Inter';
  --accent-font: 'PressStart2P-Regular';
  --card-text-font-weight: 400;
  --card-title-font-weight: 700;

  --bg-color: #fff;
  --bg-image: url(../images/cover-light-min.png);
  --accent-color: #000;
}

@media (prefers-color-scheme: dark) {

  :root {
    --card-text-font-weight: 465;
    --card-title-font-weight: 785;

    --bg-color: #000;
    --bg-image: url(../images/cover-dark-min.png);
    --accent-color: #00cc14;
  }
}
