/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P-Regular';
  --card-text-font-weight: 400;
  --card-title-font-weight: 700;

  --bg-color: #fff;
  --bg-gradient-1: repeating-linear-gradient(
    to right,
    #d3d3d3 0 2px,
    transparent 2px 4px
  );
  --bg-gradient-2: repeating-linear-gradient(
    to bottom,
    #d3d3d3 0 2px,
    transparent 2px 4px
  );
  --bg-gradient-3: repeating-linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --accent-color: #000;

  --heart-color-contur: var(--accent-color, #000);
  --heart-color-sparks: #f00;
}
